*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(/img/269.jpg); 
    background-size: 27%;
}

h3{
    padding: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
 
}
div.titulo{
    background: rgba(255, 255, 255, 0.397); 
    width: 50%;
    margin: auto;
    border-radius: 5px;

}

div.grafica{
    border-radius: 0 20px 0 20px;
    box-shadow: 5px 3px 2px rgb(141, 141, 141);
    background: white;
    border: 15px solid rgb(214, 208, 208);
    
    
}